body {
    background-color: #005B22;
    color: lightgrey;
}

h1, h2, p {
    text-align: center;
}
#card-id {
    display: flex;
    margin-bottom: 20px;
}

#card3, #card4, #card5 {
    display: None;
}

.card {
    display: flex;
    margin: auto;
}

button {
    width: 250px !important;
}

.box-red-background {
    background-color: darkred;
    border-radius: 10px;
    padding: 10px;
}

.box-blue-background {
    background-color: midnightblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}

.btn-primary {
    background-color: grey;
    border: black;
    margin-bottom: 15px;

}

table {
    color: lightgrey !important;
}

#player-name {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
}

#winning-player {
    font-size: 10em;
    text-align: center;
}